<div class="tree-container">
  <ul class="tree">
    <li>
      <div class="node organization">Organization</div>
      <ul>
        <li>
          <div class="node">CEO</div>
          <ul>
            <li>
              <div class="node">Vice President</div>
              <ul>
                <li>
                  <div class="node">Sales Manager</div>
                  <ul>
                    <li>
                      <div class="node">Sales Person</div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
